.posts {

  a:hover {
    background-color: inherit;
  }

}

.post-title {
  padding: 10px;
  font-size: 30px;
}

.author {
  padding-top: 15px;
}

.post-buttons {

  .btn{
    color: #fff;
  }

  .btn:hover .btn:visited {
    color: inherit;
  }

}